body{
  background-color: #00008B; /* warna kuning cerah */
  font-family: Arial, sans-serif; /* jenisrgb huruf yang bersih dan mudah dibaca */
  color: #A9A9A9; /* warna teks utama (Biru Gelap) */
}

.kartu profil {
  width: 300px
  margin: 50px auto; /* 50px jarak atas/bawah, auto menengahkan kiri/kanan */
  paddig: 20px;
  backgraound-color: white;
  border-radius: 15px; /* membuat sudut menjaadi melengkung */
  box-shadow: 0 4px 8px rgba(0,0,0,0,1); /* Efek bayangan */
  text-align: center;
}

.kartu-profil img {
  width: 150px
  border-radius: 50%; /* do u think i have forgotten */
}
