body{
  background-color: #00008B; /* warna biru tua/navy */
  font-family: Arial, sans-serif; /* jenis huruf yang bersih dan mudah dibaca */
  color: #FFFFFF; /* warna teks utama (Biru tua) */
   text-align: center;
}

.kartu profil {
  width: 300px;
  margin: 50px auto /* 50px jarak atas/bawah, auto menengahkan kiri/kanan */
  paddig: 20px;
  backgraound-color: white;
  border-radius: 15px; /* membuat sudut menjaadi melengkung */
  box-shadow: 0 4px 8px rgba(0,0,0,0,1); /* Efek bayangan */
}

.kartu-profil img {
  width: 150px; 
  height:150px;
  border-radius: 50%; /* jadi bulat! */
  object-fit: cover;
  border: 4px solid #0078d7
  margin-bottom: 15px
}
 
